{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">About Fort Smythe</h1>
                <hr>

                <p>
                    <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png">

                    欢迎光临芸尚酒店！我们引以为豪的是，我们是一家低调奢华、高品质的酒店，致力于为每一位客人提供舒适、宁静、极致尊贵的住宿环境。酒店地处市中心的繁华CBD区域，交通便利，周边蕴藏着大量商业和文化资源，为商务和休闲旅行者们打造了一个真正非凡的居住体验。

                </p>

                <p>
                    在芸尚酒店，我们奉行着贵族式的尊贵品格，为您提供无微不至的服务，因为您在我们眼中是最尊贵的贵宾。您将享受到富丽堂皇的客房、美味诱人的餐饮、宽敞多功能的会议和活动场地，还有令人心旷神怡的健身和水疗设施。我们全体员工将全力以赴，为您打造完美的住宿体验，让您在芸尚酒店度过一段梦幻和难忘的时光。
                </p>

                <p>
                    感谢您选择来到贵族府邸——芸尚酒店，我们迫不及待地期待着您的光临！无论是商务差旅还是休闲旅行，我们将竭尽所能，让您沉浸在绝美的酒店环境中，感受无与伦比的优雅与舒适。在芸尚酒店，您将获得的不仅仅是一间客房，更是一次难忘的体验，一段难以磨灭的回忆。
                </p>
            </div>
        </div>
    </div>
{{end}}