{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>this is a p of text</p>
                <p>this is a p of text</p>
            <p>this came from temp:{{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}
