{{template "base" .}}

{{define "content"}}


    <div class="container">
        <div class="row">
            <img src="/static/images/basicroom.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                 alt="basicroom">
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">商务双床房</h1>
                <p>欢迎来到我们的酒店，我们提供宽敞、舒适的商务双床房，为您的商务出行带来更多的便利和享受。

                    我们的商务双床房设计精心，面积宽敞，床铺柔软舒适，床单被套精心挑选，让您在疲惫的商务旅途后得到充分的休息和放松。

                    房间内设有所有必需品，包括高速无线网络、平面电视、空调、迷你冰箱、保险箱、热水壶等等。

                    我们的商务双床房不仅舒适，还提供了一流的服务。客房服务员会每天提供清洁服务，以确保您的房间始终保持整洁干净。此外，我们的前台工作人员随时准备为您提供帮助和服务，确保您的商务出行顺畅无忧。

                    我们的酒店位于市中心，交通便利，附近有许多餐厅、商店、景点和娱乐设施。无论您是商务旅行还是休闲旅行，我们的酒店都是您的理想选择。

                    预定我们的商务双床房，您将获得便捷和舒适的商务出行体验。我们期待您的光临！
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success">查看是否有空房</a>
            </div>

        </div>

    </div>

{{end}}

{{define "js"}}
    <script>
        checkAvailability("2", "{{.CSRFToken}}");
    </script>

{{end}}
