{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>选择一个房间</h1>
{{/*                获取名为rooms的数据集合，赋予变量 $rooms 然后执行逻辑操作*/}}
                {{$rooms := index .Data "rooms"}}
                <ul></ul>
                {{range $rooms}}
                    <li><a href="/choose-room/{{.ID}}"> {{.RoomName}}</a></li>
                {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}
