{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the login page</h1>
                    <form method="post" action="/user/login" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="email" value="" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}} " required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="password">密码</label>
                            {{with .Form.Errors.Get "password"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="password" value="" name="password" id="password" class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}} " required autocomplete="off">
                        </div>
                        <hr>
                        <input type="submit" class="btn btn-primary " value="Submit">
                    </form>
            </div>
        </div>
    </div>
{{end}}
