{{template "base" .}}

{{define "content"}}


    <div class="container">
        <div class="row">
            <div class="col">
                {{$res := index .Data "reservation"}}
                <h1>预定</h1>
                    <p><strong>订单详情</strong><br>
                    房型：{{$res.Room.RoomName}}<br>
                    到店时间：{{index .StringMap "start_date"}}<br>
                    离店时间：{{index .StringMap "end_date"}}<br>
                    </p>
                <form action="/make-reservation" method="post" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                    <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
                    <input type="hidden" name="room_id" value="{{$res.RoomID}}">
                    <div class="form-group mt-5">
                        <label for="first_name">姓：</label>
{{/*            - 使用with语法,检查.Form.Errors中是否存在key为"First_name"的错误 - 如果存在,with块中的内容将被渲染*/}}
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}


                        <input type="text" name="first_name" value="{{$res.FirstName}}"
                               class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                               id="first_name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="last_name">名：</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" value="{{$res.LastName}}" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}} " required autocomplete="off">
                    </div>


                    <div class="form-group">
                        <label for="email">邮箱：</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="email"  value="{{$res.Email}}" name="email" id="email" required class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}} " autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="phone">手机：</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="phone"  value="{{$res.Phone}}" id="phone" required class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" autocomplete="off">
                    </div>
                    <hr>
                    <input type="submit" class="btn btn-primary form-control"  value="make Reservation">
                </form>
            </div>
        </div>

    </div>

{{end}}
