{{template "base" .}}

{{define "content"}}
    <div class="container">
        {{$res := index .Data "reservation"}}
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Reservation Summary</h1>
                    <hr>

                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>{{$res.FirstName}}{{$res.LastName}}</td>
                    </tr>
                    <tr>
                        <td>到店日期:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>离店日期:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>邮箱:</td>
                        <td>{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>手机:</td>
                        <td>{{$res.Phone}}</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
{{end}}
